/*refer*/

.refer-container{
    max-height:100%; padding: 55px; margin-bottom: 100px;
}

.refer-box{
    background-color: white;
    padding: 0px 100px 0px 100px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;border-radius: 5px;
}

.refer-img1{
    display:block;
    margin:auto;
    height: 200px;
    width: inherit;
    background-color: white;
}

.refer-gift{
    display:block; margin:auto;height: 100px;width: 100px;
}

.refer-send{
    display:block; margin:auto;height: 200px;width: inherit;background-color: white;
}

.refer-friends-button{
    width: 30%;display:block; margin:auto;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    background-color: #fc5457;
    /*box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.06);*/
    padding: 10px;
}

.modal-content{
    padding: 30px;
}

.share-muffins-text{
    width: 100%;
    font-family: Roboto;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

.shareable-link{
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    color: #000000;
    text-align: center;
    margin: auto;
    display: block;
}

.modal-refer{
    height: 200px; width: 200px;margin: auto;display: block
}

/*.refer-cancel{*/
    /*font-family: Roboto;*/
    /*font-size: 18px;*/
    /*font-weight: 500;*/
    /*text-align: center;*/
    /*color: #fc5457;*/
    /*display:inline-block;*/
    /*float: right;*/
    /*padding: 5px 15px 5px 15px;*/
/*}*/

/*.refer-send{*/
    /*font-family: Roboto;*/
    /*font-size: 18px;*/
    /*font-weight: 500;*/
    /*text-align: center;*/
    /*color: #ffffff;*/
    /*display:inline-block;*/
    /*background-color: #fc5457;*/
    /*float: right;*/
    /*padding: 5px 15px 5px 15px;*/
    /*margin-left: 20px;*/
    /*border-radius: 5px;*/
/*}*/