<div class="refer-container">
    <div class="refer-box" >
        <img src="./assets/images/refer1.svg" class="refer-img1">
        <div style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span>Step 1: You refer a friend </br> to join a Muffin group <br/><br/> Step 2: Friends join </br> their own Muffin group</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <img src="./assets/images/gift.svg" class="refer-gift">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span style="float: right;text-align: right">Both of you receive <br/>benefits such as <br/><br/> Amazon vouchers worth <br/> Rs. 200 or more </span>
                </div>
            </div>
        </div>
        <div type="button" class="button refer-friends-button " ng-click="share()" >
            INVITE FRIENDS
        </div>

        <img src="./assets/images/send.svg" class="refer-send">
    </div>
</div>


<!-- rate us Modal -->
<div class="modal fade rateUsModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times" aria-hidden="true" style="color: gray;float: right" ng-click="cancel()"></i>

            <img src="./assets/images/refer.svg" class="modal-refer">
            <div class="share-muffins-text">Share Muffin with others</div>
            <a class="shareable-link" ng-click="openAppLink()">Get a shareable link</a>

        </div>
    </div>
</div>