html, body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: auto;
	min-height: 100%;
}

body .main-view{
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}

.bg-gradient{
	background: #673fb4;
	background:-webkit-linear-gradient(left, #673fb4, #fc5457);
	background: -moz-linear-gradient(left, #673fb4, #fc5457);
	background: -ms-linear-gradient(left, #673fb4, #fc5457);
	background: -o-linear-gradient(left, #673fb4, #fc5457);
	background: linear-gradient(to right, #673fb4, #fc5457);
}

/*.center{*/
	/*text-align: center;*/
/*}*/

.center{
	display: block; margin: auto
}

.outline{
	outline: none;
}

