﻿<html>
<head>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->




<script src="assets/js/jspdf.min.js"></script>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script> -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script> -->
<style type="text/css">
    .modal-backdrop {
   display: none;
}
</style>
</head>
<body>
    <div class="reports-container">
        <div style="margin-bottom: 150px;margin-top: 30px;">
            <div class="row" ng-show="!showProgress">
                <!--active muffins-->
                <div class="col-md-4 col-sm-4">
                    <div class="reports-left-container" style="margin-top: 10px;">
                        <div ng-repeat="muffin in reportMuffins">
                            <div ng-class="($index==selectedIndex) ? 'arrow_box' : 'active-muffins-container'" ng-click="muffinSelected($index, muffin.muffin_details[0].muffin_detail._id)">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="active-muffins-name">{{muffin.muffin_details[0].muffin_detail.name | capitalize}}</div>
                                        <div class="active-muffins-price">₹ {{muffin.muffin_details[0].muffin_detail.chitValue}}</div>
                                        <div class="active-muffins-month">Month: {{muffin.muffin_details[0].muffin_detail.currentBidding}}/{{muffin.muffin_details[0].muffin_detail.members}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="active-muffins-days" style="font-size: 18px">Bidding Day</div>
                                         <div style="text-align: right;font-size: 22px">{{muffins[2].muffin_details[0].auctions[1].auctionDate | date :"MMM d, y"}}</div>
                                          <div style="text-align: right;font-size: 22px">{{muffins[2].muffin_details[0].auctions[1].bids[0].time | date :"h:mm a"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--active muffins details-->
                <div class="col-md-8 col-sm-8">
                    <div class="reports-right-container" ng-show="!showDetailsProgress" ng-if="reportMuffins.length > 0">

                        <!--AUCTIONS-->
                        <div class="reports-details-header" ng-click="reportTypeSelected('auction')">
                            <span>AUCTIONS</span>
                            <i class="fa fa-chevron-down" aria-hidden="true" style="float: right"></i>
                        </div>
                        <div class="reports-details-body" ng-show="showAuction">
                            <div class="reports-heading-container">
                                <div class="row" style="margin: 0;">
                                    <div class="col-md-3 col-sm-3 reports-details-heading">Date</div>
                                    <div class="col-md-1 col-sm-1 reports-details-heading"></div>
                                    <div class="col-md-5 col-sm-5 reports-details-heading">Auction Winner</div>
                                    <div class="col-md-3 col-sm-3 reports-details-heading">Highest Bid</div>
                                </div>
                            </div>
                            <div ng-repeat="auction in auctions" ng-if="auction.auctionDone" class="reports-details-container">
                                <div class="row" style="margin: 0;">
                                    <div class="col-md-3 col-sm-3 reports-details-date">{{auction.auctionDate | date:"dd-MM-yyyy"}}</div>
                                    <div class="col-md-1 col-sm-1 reports-details-img">
                                        <img class="img-circle" ng-src="{{'https://s3-ap-southeast-1.amazonaws.com/muffdata/' + auction.highestBid.user_id._id}}" err-src="https://s3-ap-southeast-1.amazonaws.com/muffdata/Man-Image.png" style="height: 40px;width: 40px;">
                                    </div>
                                    <div class="col-md-5 col-sm-5 reports-details-name">
                                        {{auction.highestBid.user_id.name | capitalize}}
                                        <div class="reports-details-auctionNo">Auction {{auction.auctionNumber+1}}</div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 reports-details-amt">₹ {{auction.highestBid.bid}}</div>
                                </div>
                            </div>
                            <div ng-if="auctions.length === 0" class="no-auctions-yet">No auctions done yet!!!</div>
                        </div>

                        <!--STATEMENT-->
                        <div class="reports-details-header" ng-click="reportTypeSelected('statement')">
                            <span>STATEMENT</span>
                            <i class="fa fa-chevron-down" aria-hidden="true" style="float: right"></i>
                        </div>
                        <div class="reports-details-body" ng-show="showStatement">
                            <div class="reports-heading-container">
                                <div class="row" style="margin: 0;">
                                    <div class="col-md-2 col-sm-2 reports-details-heading">Date</div>
                                    <div class="col-md-4 col-sm-4 reports-details-heading">Description</div>
                                    <div class="col-md-3 col-sm-3 reports-details-heading">Amount Due</div>
                                    <div class="col-md-3 col-sm-3 reports-details-heading">Amount Paid</div>
                                </div>
                            </div>
                            <!--late fee-->
                            <div ng-repeat="fee in globalArray | orderBy: '-date'" class="reports-details-container">
                                <div class="row" style="margin: 0">
                                    <div class="col-md-2 col-sm-2 reports-transactions-date">{{fee.date | date:"dd-MM-yyyy"}}</div>
                                    <div class="col-md-4 col-sm-4 reports-transactions-description">{{fee.description}} - {{fee.auctionNum+1}}</div>
                                    <div class="col-md-3 col-sm-3 reports-transactions-amt"> {{fee.amountDue}}</div>

                                    <div ng-if="fee.description !='Dividend Received'" class="col-md-3 col-sm-3 reports-transactions-amt">{{fee.amountPaid}}</div>

                                    <div ng-if="fee.description =='Dividend Received'" class="col-md-3 col-sm-3 reports-transactions-amt">{{fee.dividendReceived}}</div>
                                    
                                </div>
                            </div>


                            <!--Balance-->

                            <div class="reports-details-container">
                                <div class="row" style="margin: 0">

                                   
                                    <div class="col-md-3 col-sm-3">
                                        <a href="javascript:void(0)" id="cmd" data-toggle="modal" data-target="#myModal">View Detail Report</a>
                                    </div>    
                                    <div class="col-md-6 col-sm-6 reports-transactions-date" style="text-align: right"> Balance- </div>
                                    <div class="col-md-3 col-sm-3 reports-transactions-amt">₹{{balanceAmount.balanceAmt}}

                                    </div>
                                </div>

                           </div>
                        </div>


                        <!--TRANSACTIONS-->

                        <div class="reports-details-header" ng-click="reportTypeSelected('transaction')">
                            <span>TRANSACTIONS</span>
                            <i class="fa fa-chevron-down" aria-hidden="true" style="float: right"></i>
                        </div>
                        <div class="reports-details-body" ng-show="showTransaction">
                            <div class="reports-heading-container">
                                <div class="row" style="margin: 0;">
                                    <div class="col-md-3 col-sm-3 reports-details-heading">Date</div>
                                    <div class="col-md-3 col-sm-3 reports-details-heading">Transaction Id</div>
                                    <!--<div class="col-md-2 col-sm-2 reports-details-heading">Instalment</div>-->
                                    <div class="col-md-3 col-sm-3 reports-details-heading">Amount</div>
                                    <div class="col-md-3 col-sm-3 reports-details-heading">Receipt</div>
                                </div>
                            </div>
                            <div class="reports-details-body">
                                <div ng-repeat="transaction in transactions" class="reports-details-container">
                                    <div class="row" style="margin: 0;">
                                        <div class="col-md-3 col-sm-3 reports-transactions-date">{{transaction.createdAt | date:"dd-MM-yyyy"}}</div>
                                        <div class="col-md-3 col-sm-3 reports-transactions-transId">{{transaction.transctionId}}</div>
                                        <!--<div class="col-md-2 col-sm-2 reports-transactions-isPaid">Instalment Paid</div>-->
                                        <div class="col-md-3 col-sm-2 reports-transactions-amt">₹ {{transaction.amount}}</div>
                                        <div class="col-md-3 col-sm-2">
                                           <a href="javascript:void(0)" ng-click="updateModalValue(transaction)" id="transaction" data-toggle="modal" data-target="#myModalTran">download</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="no-auctions-yet">Thank You!</div>
                            </div> -->
                        </div>

                    </div>
                    <div style="text-align: center; margin-top: 25%" ng-show="showDetailsProgress">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center; margin-top: 25%" ng-show="showProgress">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                </div>
            </div>
        </div>
    </div>

       <!-- Satement Report  -->

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
                <div id="exportthis" class="modal-body">
                    <div>
                         <div class="row" id="export">
                            <img width="200px" height="40px" src="assets/images/logo.png">
                         </div>
                         <hr>
                         <div class="row">
                             <div class="col-xs-12" style="font-size: 12px;font-family:Roboto Condensed;" >
                                <div class="col-xs-7">
                                    <strong>104, Satya Mansion, Ranjit Nagar Commercial Complex, </strong><br>
                                        support@muffinapp.in    +91 88264 13330<br><br><br>
                                      <p> <strong> Statement Date: {{ today | date }}</strong></p>
                                
                                </div>
                                <div class="col-xs-5 text-right" style="padding-right: : -15px;">
                                    <strong>
                                        Period
                                        {{auctions[0].auctionDate | date :"MMM d, y"}} to 
                                        {{ today | date }}
                                                        <br><br>
                                       <p> Prepared for:{{userName | capitalize}}<br>
                                         +91-{{phone}}</p>
                                         <p>
                                             {{muffins[2].muffin_details[0].auctions[0].highestBid.user_id.address_work}}

                                         </p>
                                    </strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="font-size: 12px;font-family:Roboto Condensed;">
                              <p>Thank you for being part of Muffin.To utilise this money gainfully, please login for the next auction on {{muffins[2].muffin_details[0].auctions[muffin.muffin_detail.currentBidding+1].auctionDate | date :"MMM d, y"}}, at muffinapp.in or on our Android mobile app.</p>      
                              <br>
                              <p>To enhance this credit, ask about availability in the next Muffin group: Rs. 1.6Lacs, which comes at an affordable instalment of Rs. 8,000 per month.</p><br>
                              <strong>{{muffins[2].muffin_details[0].muffin_detail.name | capitalize}} -25M0500MUF1801</strong>
                            </div>
                        </div>
                    </div>
                <table width="100px" id="tab_customers" class="table table-striped">
                    <colgroup>
                        <col width="20%">
                            <col width="35%">
                                <col width="23%">
                                    <col width="22%">
                    </colgroup>
                    <thead>
                        <tr class='warning'>
                            <th style="text-align: center;font-size: 12px;font-family:Roboto Condensed;">Date</th>
                            <th style="text-align: center;font-size: 12px;font-family:Roboto Condensed;">Description</th>
                            <th style="text-align: center;font-size: 12px;font-family:Roboto Condensed;">Amount Due</th>
                            <th style="text-align: center;font-size: 12px;font-family:Roboto Condensed;">Amount Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="width: 100%;text-align: center;" ng-repeat="fee in globalArray | orderBy: '-date'">
                            <td style="text-align: center;font-size: 12px;font-family:Roboto Condensed;">{{fee.date | date:"dd-MM-yyyy"}}</td>
                            <td style="text-align: center;font-size: 12px;font-family:Roboto Condensed;">{{fee.description}} - {{fee.auctionNum+1}}</td>
                            <td style="text-align: center;font-size: 12px;font-family:Roboto Condensed;">{{fee.amountDue}}</td>
                            <td style="text-align: center;font-size: 12px;font-family:Roboto Condensed;" ng-if="fee.description !='Dividend Received'">{{fee.amountPaid}}</td>
                            <td style="text-align: center;font-size: 12px;font-family:Roboto Condensed;" ng-if="fee.description=='Dividend Received'">{{fee.dividendReceived}}</td>
                      </tr>
                      
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: center;font-size: 12px;font-family:Roboto Condensed;"><strong>Balance</strong></td>
                            <td style="text-align: center;font-size: 12px;font-family:Roboto Condensed;"><strong>{{balanceAmount.balanceAmt}}</strong></td>
                        </tr>
                            </tbody>
                        </table>
                    
                        <div class="row" >
                            <div class="col-md-12">
                                <div class="col-md-6" style="float: left;">
                                    <span style="font-size: 24px;font-family:Roboto Condensed;">Payment Advice</span>
                                </div>
                                <div class="col-md-6" style="float: left;">
                                     <span  style="font-size: 12px;font-family:Roboto Condensed; text-align: right; margin-left: 246px"> Due Date: {{duedate}}</span>
                                </div>
                            </div>
                        </div><br>

                        <div class="row" style="font-size: 12px;font-family:Roboto Condensed;">
                            <div class="col-md-12">
                                <div class="col-md-6" style="float: left;" >
                                   <span><strong>Account</strong>  -Grih Lakshmi Chit Fund Private Limited</span><br>
                                   <span><strong>Bank</strong>  -Branch Barakhamba Road</span>
                                </div>
                                <div class="col-md-6" style="float: left;">
                                    <p>
                                       <span style="margin-left: 100px"><strong>A/C Number</strong>  04621900010982</span><br>
                                       <span style="margin-left: 100px"><strong>IFSC Code</strong>  DCBL0000046</span>
                                    </p>   
                                </div>
                            </div>
                        </div>      <br>
                         <div class="row" style="font-size: 12px;font-family:Roboto Condensed;">
                            <div class="col-md-12">
                                <div class="col-md-6" style="float: left;" >
                                    <img width="200px" height="40px" src="assets/images/logo.png">
                                </div>
                                <div class="col-md-6" style="float: left;">
                                    <p style="margin-left: 200px"><strong>
                                            Period
                                            {{auctions[0].auctionDate | date :"MMM d"}} to 
                                            {{ today | date }}<br>
                                                    
                                          Prepared for: {{userName | capitalize}}
                                          <br>
                                         +91-{{phone}}</p>
                                        </strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="modifyMe"></div> 

                          
                </div>
                            <input type="button" id="create_pdf" class="btn btn-success" data-dismiss="modal" value="Download in PDF"> 
                  
             </div> 
          </div>
    </div>

 <!-- Transaction Report -->

    <div class="modal fade" id="myModalTran" role="dialog">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
                <div id="Texportthis" class="modal-body">
                    <div>
                         <div class="row" id="export">
                            <img width="200px" height="40px" src="assets/images/logo.png">
                         </div>
                         <hr>
                         <div class="row">
                             <div class="col-xs-12" style="font-size: 12px;font-family:Roboto Condensed;" >
                                <div class="col-xs-7">
                                    <strong>104, Satya Mansion, Ranjit Nagar Commercial Complex, </strong><br>
                                        support@muffinapp.in    +91 88264 13330<br><br><br
                                      <p> <strong> Statement Date: {{ today | date }}</strong></p>
                                
                                </div>
                                <div class="col-xs-5 text-right" style="padding-right: : -15px;">
                                    <strong>
                                       <p> Prepared for:{{userName | capitalize}}<br>
                                         +91-{{phone}}</p>
                                            
                                    </strong>
                                </div>
                            </div>
                        </div><br><br><br>
                        <div class="row">
                            <div class="col-xs-12" style="font-size: 14px;font-family:Roboto Condensed;">
                                <p> Hi {{userName | capitalize}}, {{txnDetailsGlobal.amount}} has been received from your account with transaction id {{txnDetailsGlobal.transctionId}} on date {{txnDetailsGlobal.createdAt | date:"dd-MM-yyyy"}}.
                                 <p>Thanks for joining us.</p>
                            </div>
                        </div>
                        <br><br><br>
                    </div>
               
                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-12">
                                <div class="col-md-6" style="float: left;">
                                    <span style="font-size: 24px;font-family:Roboto Condensed;">Payment Advice</span>
                                </div>
                                <div class="col-md-6" style="float: left;">
                                     <span  style="font-size: 12px;font-family:Roboto Condensed; text-align: right; margin-left: 246px"> Due Date: {{duedate}}</span>
                                </div>
                            </div>
                        </div><br>

                        <div class="row" style="font-size: 12px;font-family:Roboto Condensed;">
                            <div class="col-md-12">
                                <div class="col-md-6" style="float: left;" >
                                   <span><strong>Account</strong>  -Grih Lakshmi Chit Fund Private Limited</span><br>
                                   <span><strong>Bank</strong>  -Branch Barakhamba Road</span>
                                </div>
                                <div class="col-md-6" style="float: left;">
                                    <p>
                                       <span style="margin-left: 100px"><strong>A/C Number</strong>  04621900010982</span><br>
                                       <span style="margin-left: 100px"><strong>IFSC Code</strong>  DCBL0000046</span>
                                    </p>   
                                </div>
                            </div>
                        </div>      <br>
                         <div class="row" style="font-size: 12px;font-family:Roboto Condensed;">
                            <div class="col-md-12">
                                <div class="col-md-6" style="float: left;" >
                                    <img width="200px" height="40px" src="assets/images/logo.png">
                                </div>
                                <div class="col-md-6" style="float: left;">
                                    <p style="margin-left: 200px"><strong>
                                        Prepared for: {{userName | capitalize}}<br>
                                        </strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="TmodifyMe"></div>  
                          
                </div>
                            <input type="button" id="Tcreate_pdf" class="btn btn-success" data-dismiss="modal" value="Create PDF"> 
                  
             </div> 
          </div>
    </div>



</body>



</html>
<!-- Transaction Script -->
<script type="text/javascript">

           document.getElementById("Tcreate_pdf").onclick = function () {
            printElement(document.getElementById("Texportthis"));
            
            var modThis = document.querySelector("#printSection .TmodifyMe");
            modThis.appendChild(document.createTextNode(" "));
            
            window.print();
        }

        function printElement(elem) {
            var domClone = elem.cloneNode(true);
            
            var $printSection = document.getElementById("printSection");
            
            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }
            
            $printSection.innerHTML = "";
            
            $printSection.appendChild(domClone);
        }
</script>
<!-- Statement Script -->
<script type="text/javascript">

           document.getElementById("create_pdf").onclick = function () {
            printElement(document.getElementById("exportthis"));
            
            var modThis = document.querySelector("#printSection .modifyMe");
            modThis.appendChild(document.createTextNode(" "));
            
            window.print();
        }

        function printElement(elem) {
            var domClone = elem.cloneNode(true);
            
            var $printSection = document.getElementById("printSection");
            
            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }
            
            $printSection.innerHTML = "";
            
            $printSection.appendChild(domClone);
        }
    </script>

