.reports-container {
    max-height: 100%;
    margin: 0px 25px 100px 25px;
    padding: 30px 50px;
}

.reports-muffin-container {
    /*background-color: white;*/
    /*padding: 15px;*/
    /*margin-bottom: 1px;*/
}

.reports-right-container {
    padding-left: 20px;
}

.reports-muffin-name {
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    color: #212121;
}

.reports-muffin-amt {
    font-family: Roboto;
    font-size: 18px;
    text-align: center;
    color: #5133a5;
}

.reports-instalment-amt {
    font-family: PingFangSC;
    font-size: 14px;
    text-align: center;
    color: #727272;
}

.reports-details-header {
    background-color: #424242;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    outline: none;
    margin-top: 10px;
}

.reports-details-body {
    background-color: white;
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.reports-details-date {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #212121;
    margin-top: 10px;
}

.reports-details-name {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    color: #212121;
}

.reports-details-auctionNo {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    color: #727272;
}

.reports-details-amt {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
    color: #5133a5;
    text-align: center;
}

.reports-transactions-date {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #727272;
    text-align: center;
}

.reports-transactions-userId {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.33;
    color: #212121;
}

.reports-transactions-muffinId {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.33;
    color: #212121;
}

.reports-transactions-transId {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.33;
    color: #212121;
}

.reports-transactions-isPaid {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.33;
    color: #727272;
}

.reports-transactions-description {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.33;
    color: #727272;
}

.reports-transactions-amt {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.33;
    color: #212121;
}

.reports-transactions-receipt {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
    text-align: center;
    color: #fc5457;
}

.reports-details-container {
    border-bottom: #dddddd 1px solid;
    padding: 10px;
}

.reports-heading-container {
    background-color: #c7c7c7;
    padding: 10px;
}

.reports-details-heading {
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    text-align: center;
}

.no-auctions-yet {
    color: #c7c7c7;
    padding: 10px;
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}
.col-xs-7{

    width: 58.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    font-size: 12px;
    font-family: Roboto Condensed;
    padding-right: 0px;
    padding-left: 0px;
}
.modal{
    background-image: url("assets/images/logo.png");
}

