<div class="bg-gradient" style="height: 100%;width: 100%;margin: 0;padding: 0;position: fixed">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools mainToolBar" style="background-color: #ffffff;padding-left: 5%; padding-right: 5%;">

            <img src="./assets/images/logo.svg"  height="30" width="30" ng-click="selected('muffins')" class="outline">
            <h2 class="outline" ng-click="selected('muffins')" style="margin-left: 20px;font-family: Roboto;font-size: 24px;font-weight: 500;line-height: 0.83;text-align: left;color: #212121;">
                <span>Muffin App Dashboard</span>
            </h2>
            <span flex></span>
            <div class="dropdown" style="margin-right: 50px;">
                <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left;color: black;"  data-toggle="dropdown">{{userName | capitalize}}<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation" ng-repeat="profile in ['Profile','Logout']">
                        <a  style="padding: 8px; text-align: center" role="menuitem" tabindex="-1" style="outline: none;" ng-click="profileSelected(profile)">{{profile}}</a>
                        <hr style="margin: 0;padding: 0;">
                    </li>
                </ul>
            </div>
            <img src="./assets/images/google-play.png" style="outline: none;" ng-click="googleplayUrl()">
        </div>
    </md-toolbar>
    <div class="row">
        <div class="col-md-10" style="padding-right: 0;">
            <div class="menu-bar" style="padding: 0;margin: 0">
                <ul class="list-inline text-center" layout="row" style="margin-bottom: 0">
                    <li flex ng-class=" selectedTab === 'muffins' ? 'selectedTab' : 'notSelectedTab'" ng-click="selected('muffins')">MUFFINS</li>
                    <li flex ng-class=" selectedTab === 'reports' ? 'selectedTab' : 'notSelectedTab'" ng-click="selected('reports')">REPORTS</li>
                    <!--<li flex ng-class=" selectedTab === 'archived' ? 'selectedTab' : 'notSelectedTab'" ng-click="selected('archived')">ARCHIVED</li>-->
                    <li flex ng-class=" selectedTab === 'help' ? 'selectedTab' : 'notSelectedTab'" ng-click="selected('help')">NEED HELP?</li>
                </ul>
            </div>
            <div class="muffins-body" ng-hide="showProgress">

                <div ui-view class="main-view "></div>
            </div>
            <div style="text-align: center; margin-top: 25%" ng-show="showProgress">
                <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                </div>
            </div>
        </div>
        <div class="col-md-2" style="padding-left: 0;">
            <div class="muffins-body" style="background-color: #29111E;">

                <div class="activities-container" style="padding: 15px; color: white; font-family: Roboto;margin-bottom: 25px;">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <img class="img-circle" src="./assets/images/logo.svg" style="height: 20px;width: 20px;">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <span style="font-size: 12px;font-weight: 300;">Start by joining a Muffin or make your own muffin with your friends and family.</span>
                        </div>
                    </div>
                    <div style="float: right;font-weight: 400;font-size: 12px;margin-top: 10px;color: #fc5457;">
                        <span ng-click="showMuffinModal('join')" style="margin-right: 20px; outline: none;">JOIN</span>
                        <span ng-click="showMuffinModal('add')" style="outline: none;">ADD NEW</span>
                    </div>
                </div>
                <div style="border-bottom: solid 1px #ffffff; margin-left: 10px; margin-right: 10px;"></div>

                <div ng-repeat="muffin in activitiesMuffin">
                    <div id="activities-container">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <img class="img-circle" src="./assets/images/logo.svg" style="height: 20px;width: 20px;">
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <div>{{muffin.muffin_detail.name | capitalize}}</div>
                                <span style="font-size: 12px;font-weight: 200;">Members have joined, invite friends to complete the group</span>
                            </div>
                        </div>
                        <div style="float: right;font-weight: 400;font-size: 12px;margin-top: 10px;color: #fc5457;">
                            <span ng-click="dismissMuffin($index,muffin.muffin_detail.name)" style="margin-right: 20px;outline: none;">DISMISS</span>
                            <span ng-click="inviteFriends(muffin.muffin_detail.regNumber)" style="outline: none;">INVITE FRIENDS</span>
                        </div>
                    </div>
                    <div class="activities-line"></div>
                </div>

                <div ng-repeat="vid in videosArray">
                    <div class="activities-container" style="padding: 15px; color: white; font-family: Roboto;">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <img class="img-circle" src="./assets/images/logo.svg" style="height: 20px;width: 20px;">
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10" ng-click="selectedVideo($index)" style="outline: none;">
                                <img class="" style="height: 100px;margin-bottom: 5px;" ng-src="{{vid.image}}">
                                <div>{{vid.text}}</div>
                            </div>
                        </div>
                    </div>
                    <div style="border-bottom: solid 1px #ffffff; margin-left: 10px; margin-right: 10px;"></div>
                </div>

                <div class="activities-container" style="padding: 15px; color: white; font-family: Roboto;margin-bottom: 25px;" ng-show="showHelp">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <img class="img-circle" src="./assets/images/logo.svg" style="height: 20px;width: 20px;">
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <span style="font-size: 12px;font-weight: 300;">Check out our comprehensive guide to everything in Muffin</span>
                        </div>
                    </div>
                    <div style="float: right;font-weight: 400;font-size: 12px;margin-top: 10px;color: #fc5457;">
                        <span ng-click="dismissHelp()" style="margin-right: 20px;">DISMISS</span>
                        <span ng-click="selected('help')" style="outline: none;">VIEW</span>
                    </div>
                </div>
                <div style="border-bottom: solid 1px #ffffff; margin-left: 10px; margin-right: 10px;margin-bottom: 50px;"></div>

            </div>
        </div>
    </div>

    <!-- Muffin Modal -->
    <div class="modal fade muffinModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="row">
                    <i class="fa fa-times" aria-hidden="true" style="color: gray;margin-bottom: 15px;outline: none;float: right;margin-right: 15px;" ng-click="muffinModalCancel()"></i>
                </div>

                <div style="padding: 0px 20px 0px 20px;text-align: center;">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding: 0;margin: 0;">
                            <div ng-class=" muffinTabSelected === 'join' ? 'muffinSelectedTab' : 'muffinNotSelectedTab'" ng-click="muffinFabClicked('join')">JOIN A MUFFIN</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding: 0;margin: 0;">
                            <div ng-class=" muffinTabSelected === 'add' ? 'muffinSelectedTab' : 'muffinNotSelectedTab'"  ng-click="muffinFabClicked('add')">CREATE NEW MUFFIN</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4" style="padding: 0;margin: 0;">
                            <div ng-class=" muffinTabSelected === 'invite' ? 'muffinSelectedTab' : 'muffinNotSelectedTab'" ng-click="muffinFabClicked('invite')"><ELEMENT>ENTER INVITE CODE</ELEMENT></div>
                        </div>
                    </div>
                    <div class="">
                        <div class="" ng-if="muffinTabSelected === 'add'" style="text-align: left;margin-top: 30px;">
                            <label style="color: #fc5457;font-weight: 300;">Muffin Name</label>
                            <div>
                                <input ng-model="addMuffin.name" required="true" style="border: none;width: 100%;outline: none;">
                            </div>
                            <hr style="margin-top: 0px;">

                            <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
                                <div class="col-md-6 col-sm-6">
                                    <label style="color: #fc5457;font-weight: 300;">Instalment</label>
                                    <div class="dropdown">
                                        <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left"  data-toggle="dropdown">{{addMuffin.instalment}} <span style="float: right;"><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                                        <hr style="margin-top: 0;">
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation" ng-repeat="instalment in [5000,7500,10000,15000,20000,25000]">
                                                <a role="menuitem" tabindex="-1" ng-click="instalmentSelected(instalment)">{{instalment}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label style="color: #fc5457;font-weight: 300;">Face Value</label><br>
                                    <div>
                                        <input ng-model="addMuffin.chitValue" required="true" ng-readonly="true" style="border: none">
                                    </div>
                                    <hr style="margin-top: 10px;">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;margin-bottom: 20px;">
                                <div class="col-md-6 col-sm-6">
                                    <label style="color: #fc5457;font-weight: 300;">Duration</label>
                                    <div class="dropdown">
                                        <div class="btn btn-block dropdown-toggle bg-color-white" type="button" style="text-align: left"  data-toggle="dropdown">{{addMuffin.frequency}} <span style="float: right;"><i class="fa fa-caret-down" aria-hidden="true"></i></span></div>
                                        <hr style="margin-top: 0;">
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                            <li role="presentation" ng-repeat="duration in [10,12,15,18,20,25]">
                                                <a role="menuitem" tabindex="-1" ng-click="durationSelected(duration)">{{duration}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label style="color: #fc5457;font-weight: 300;">Size of Group</label>
                                    <div>
                                        <input ng-model="addMuffin.members" required="true" ng-readonly="true" style="border: none">
                                    </div>
                                    <hr style="margin-top: 10px;">
                                </div>
                            </div>
                            <div class="" style="margin: auto;display: block;background-color: #FC5457; color: white;width: 50%;text-align: center;padding: 10px;border-radius: 5px;outline: none;" ng-click="addNewMuffin()" ng-hide="addMuffinProgress">Submit</div>
                            <div style="text-align: center" ng-show="addMuffinProgress">
                                <div layout="row" layout-sm="column" layout-align="space-around"  style="">
                                    <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                        <div class="" ng-if="muffinTabSelected === 'join'" style="text-align: left;margin-top: 30px;">
                            <div ng-repeat="muffin in availableMuffins" ng-hide="showJoinMuffinProgress" style="margin-top: 20px;padding-left: 20px;padding-right: 20px;">
                                <div class="row" ng-if="muffin.createdBy =='5b0bedfac29dc4b06dbc19e2'">
                                    <div class="col-md-8 col-sm-8">
                                        <div class="active-muffins-name">{{muffin.name | capitalize}}</div>
                                        <div style="color: #5133a5;font-size: 14px;font-weight: 500;"> ₹ {{muffin.chitValue}}</div>
                                        <div style="font-size: 12px;color: #727272;margin-top: 10px;">by {{muffin.createdByObject.name}}</div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="inprocess-muffin-instalment">Instalment : ₹ {{muffin.chitValue/muffin.members}}</div><br>
                                        <div class="inprocess-muffin-instalment">Duration : {{muffin.members}} Months</div>
                                        <br/>
                                        <hr style="margin-top: 5px;margin-bottom: 10px;">
                                        <div style="text-align: right;color: #fc5457;font-size: 16px;font-weight: 500;">
                                            <span ng-click="acceptDeclineInvitedMuffin('subscribed', muffin._id)" style="outline: none">JOIN</span>
                                            <span ng-click="" style="margin-left: 25px;outline: none">SHARE</span>
                                        </div>
                                    </div>
                                    <hr/>
                                </div>
                            </div>

                            <div style="text-align: center; margin-top: 25%" ng-show="showJoinMuffinProgress">
                                <div layout="row" layout-sm="column" layout-align="space-around">
                                    <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                        <div class="" ng-if="muffinTabSelected === 'invite'" style="text-align: left;margin-top: 30px;">
                            <div style="padding: 20px;">
                                <div style="margin-bottom: 35px;">Enter the code below for the muffin you want to join!</div>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label >Muffin Code</label>
                                    <input ng-model="invitedMuffinCode.name" required="true">
                                </md-input-container>

                                <div style="float: right;color: #fc5457;font-size: 16px;font-weight: 600;">
                                    <span ng-click="muffinModalCancel()" style="outline: none;">CANCEL</span>
                                    <span ng-click="addInvitedMuffin()" style="margin-left: 25px;outline: none;">JOIN</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>




