
.menu-bar ul li{
    background-color: #424242;
    color: #fff;
    padding: 14px 4px;
    cursor: pointer;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}
.menu-bar ul li:hover{
    background-color: #444;
}

.menu-bar .selectedTab{
    border-bottom: thick solid #fc5457;
    color: #fc5457;
    border-bottom-width: 3px;
    outline: none;
}

.menu-bar .notSelectedTab{
    border-bottom: thick solid transparent;
    color: white;
    outline: none;
}

.muffins-body{
    overflow: scroll;
}::-webkit-scrollbar {
     width: 0px;
     background: transparent; /* make scrollbar transparent */
 }

.fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#activities-container{
    padding: 15px; color: white; font-family: Roboto;margin-bottom: 25px;
    background-color: #2F1223;
}

.activities-line{
    border-bottom: solid 1px #ffffff; margin-left: 10px; margin-right: 10px;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
}
.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity:0;
    height: 0px;
    margin-bottom: 25px;

}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
    opacity:1;
    height: 150px;
    margin-bottom: 25px;
}
.repeat-item {
    height: 150px;
    background-color: #270f1d;
    padding: 15px; color: white;
    font-family: Roboto;
    margin-bottom: 25px;
}

md-toast {
    z-index: 10000;
}
.md-fixed-top {
    position: fixed;
    top: 66px; // size of my navbar + 16px
}

.md-fixed-right {
    position: fixed;
    right: 16px;
}

.alert-success {
    color: white;
    background-color: #FF7178;
    border-color: #FF7178;
}


