<div class="profile-container bg-gradient">
    <div class="profile-wrapper ">
        <div class="profile-box">
            <div class="outline" ng-click="backButtonCLicked()">
                <i class="fa fa-chevron-left fa-1x" aria-hidden="true" style="font-size: 26px;font-weight: 100;"></i>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img ng-src="{{profileImg}}" err-src="https://s3-ap-southeast-1.amazonaws.com/muffdata/Man-Image.png" class="circular-square" />
                    <div class="profile-user-name">
                        {{profileDetails.name | capitalize}}
                    </div>
                    <div class="profile-save-button" ng-hide="showProgress" ng-click="requestChange()">REQUEST CHANGE</div>
                    <br>
                    <div class="profile-save-button" ng-if="profileDetails.credit_score"> <strong>Credit Score :</strong> {{profileDetails.credit_score}}</div>
                    <div class="profile-save-button" ng-if="profileDetails.url" ng-click="consent()">Get Credit Score</div>
                    <div style="text-align: center; " ng-show="showProgress">
                        <div layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="profile-title">
                        Personal Details
                    </div>
                    <div class="profile-details-title">
                        Username
                    </div>
                    <div class="profile-details-value">
                        <span >{{profileDetails.username}}</span>
                    </div>
                    <div class="profile-details-title">
                        Mobile
                    </div>
                    <div class="profile-details-value">
                        <span>{{profileDetails.phone}}</span>
                    </div>
                    <div class="profile-details-title">
                        Email
                    </div>
                    <div class="profile-details-value">
                        <span >{{profileDetails.email}}</span>
                    </div>
                    <div class="profile-details-title">
                        Address
                    </div>
                    <div class="profile-details-value">
                        <span>	&nbsp;</span>
                    </div>
                    <div class="profile-details-title">
                        Date of Birth
                    </div>
                    <div class="profile-details-value">
                        <span >	&nbsp; </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="profile-title">
                        Bank Details
                    </div>
                    <div class="profile-details-title">
                        Aadhar Number
                    </div>
                    <div class="profile-details-value">
                        <span >{{profileDetails.aadharCard}}&nbsp;</span>
                    </div>
                    <div class="profile-details-title">
                        PAN Number
                    </div>
                    <div class="profile-details-value">
                        <span >{{profileDetails.panCard}}&nbsp;&nbsp;</span>
                    </div>
                    <div class="profile-details-title">
                        Bank
                    </div>
                    <div class="profile-details-value">
                        <span >{{profileDetails.userBanks.bankName}}&nbsp;</span>
                    </div>
                    <div class="profile-details-title">
                        Account Number
                    </div>
                    <div class="profile-details-value">
                        <span >{{profileDetails.userBanks.bankAcNumber}}&nbsp;</span>
                    </div>
                    <div class="profile-details-title">
                        IFSC Code
                    </div>
                    <div class="profile-details-value">
                        <span>{{profileDetails.userBanks.bankIfsc}}&nbsp;</span>
                    </div>
                    <div class="profile-details-title">
                        Instalment limit / month
                    </div>
                    <div class="profile-details-value">
                        <span >&nbsp;</span>
                    </div>
                </div>
            </div>
            

        </div>

    </div>
</div>