.profile-container{
    /*width:100%; height: 100%; margin: 0; padding: 0;*/
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
}

.profile-wrapper{
    padding: 10%;
}

.profile-box{
    background-color: white;padding: 50px;
}

.circular-square{
    border-radius: 50%; display: block;margin: auto;
    height: 150px; width: 150px;
}

.profile-edit{
    opacity: 0.54;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    text-align: center;
    color: #000000;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    padding: 10px;
    display: block;
    margin: auto;
}

.profile-title{
    opacity: 0.54;
    font-family: Lato;
    font-size: 28px;
    font-weight: 300;
    text-align: left;
    color: #212121;
    margin-bottom: 20px;
}

.profile-details-title{
    opacity: 0.38;
    font-family: Lato;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}

.profile-details-value{
    opacity: 0.87;
    font-family: Lato;
    font-size: 16px;
    text-align: left;
    color: #000000;
    margin-bottom: 10px;
}

.profile-edit-input{
    width: 90%;padding: 5px;
}

.profile-save-button{
    background-color: #f4f4f4;
    color: #fc5457;
    padding: 10px;
    text-align: center;
    outline: none;
    width: 60%;
    margin: auto;
    font-size: 12px;
}

.profile-user-name{
    text-align: center;margin-top: 15px; font-size: 22px;font-weight: 500;margin-bottom: 15px;
}