<div class="help-container">
    <div style="margin-bottom: 150px;">
        <div ng-hide="showHelpProgress">

            <div class="videos-container">
                <!--<div class="" style="float: right">-->
                    <!--<i class="fa fa-angle-left" aria-hidden="true" style="font-size: 25px;font-weight: 600"></i>-->
                    <!--<i class="fa fa-angle-right" aria-hidden="true" style="font-size: 25px;font-weight: 600"></i>-->
                <!--</div>-->
                <div class="faq-heading">VIDEOS</div>
                <div class="single-item" style="visibility: hidden">
                    <div ng-repeat="vid in videosArray " on-finish-render="ngRepeatFinished">
                        <div class="help-video-container">
                            <div class="help-video-box" >
                                <img class="help-video-img" ng-src="{{vid.image}}" ng-click="selectedVideo($index)">
                                <div style="margin-top: 10px;">{{vid.text}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-container">
                <div class="faq-heading">FAQ's</div>
                <div style=" margin-bottom: 25px;">
                    <input type="text" ng-model="faqSearch" placeholder="Search FAQ..." class="faq-search">
                    <div style="float: right;outline: none" ng-click="animateToContactUs()">Can't find the answer?</div>
                </div>
                <div ng-repeat="faq in faqArray | filter:faqSearch" >
                    <div class="" style="">
                        <div class="faq-question">{{faq.Q}}</div>
                        <div class="faq-answer">{{faq.A}}</div>
                        <!--<div class="faq-line"></div>-->
                    </div>
                </div>
            </div>

            <div id="contact">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contactUs-heading">Contact Us</div>
                        <div class="contactUs-subheading">Write your query to us.</div>
                    </div>
                    <div class="col-md-8">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label >Topic</label>
                            <input ng-model="contactUs.topic" required="true">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Comment</label>
                            <input ng-model="contactUs.message" required="true">
                        </md-input-container>
                        <button type="button" class="btn-lg btn-block contactUs-button" ng-click="sendMessage()" ng-hide="showContactUsProgress">SUBMIT</button>
                        <div style="text-align: center" ng-show="showContactUsProgress">
                            <div layout="row" layout-sm="column" layout-align="space-around"  style="">
                                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div style="text-align: center; margin-top: 25%" ng-show="showHelpProgress">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
        </div>
    </div>

</div>