.help-container{
    max-height:100%;margin-bottom: 100px;padding: 35px;
}

.videos-container{
    background-color: white; padding: 35px;height: 300px;
}

.help-video-container{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.help-video-box{
    margin: 10px;
    text-align: center;
}

.help-video-img{
    height: 130px;
    width: 200px;
    margin: auto;
    display: block;
}

.faq-heading{
    font-weight: 600; font-size: 26px; font-family: 'Roboto', sans-serif; margin-bottom: 20px;
}

.faq-search{
    width: 50%; border: none; border-bottom: #fc5457 1px solid;border-radius: 0; padding: 10px;font-family: 'Roboto', sans-serif;
}

.faq-container{
    background-color: white;padding: 35px;
}

.faq-question{
    font-weight: 400; font-size: 18px; font-family: 'Roboto', sans-serif;
}

.faq-answer{
    font-weight: 300; font-size: 14px; font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.faq-line{
    height: 1px; border-bottom: lightgray 1px solid; margin-top: 10px; margin-bottom: 10px;
}

#contact{
    background-color: white;padding: 35px;margin-bottom: 1px;
}

.contactUs-heading{
    font-weight: 500;font-size: 20px;font-family: 'Roboto', sans-serif;
}

.contactUs-subheading{
    font-weight: 300;font-size: 14px;font-family: 'Roboto', sans-serif;
}