
.login-wrapper{
	/*min-height: 100%;*/
	height: 100%;width: 100%;margin: 0;padding: 0;position: fixed;
}

.login-wrapper .login-card{
	background-color:#fff;
	padding: 20px;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.login-wrapper .login-logo{
	display:block;
	margin:auto;height: 100px;width: 100px;
}

.login-card .loginButton{
  border-radius: 2px;
  background-color: #fc5457;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 8px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  color: #f5f5f5;
	outline: none;
}

.login-card .loginFacebookButton{
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #3b5998;
  padding: 8px;
  margin-bottom: 10px;
	border: solid 2px #3b5998;
	outline: none;
}

.login-card .login-Or{
	width: 100%; 
	height: 5px;
	border-bottom: 1px solid #b6b6b6; 
	text-align: center; 
	margin-top: 30px;
	margin-bottom: 30px;
}

.login-card .login-Or .login-Or-text{
	font-size: 15px;
	background-color:white;
	padding: 10px 10px;
}

.login-card .siguptext{
	text-align: center;
	color: #fc5457;
	outline: none;
}

.login-card .siguptext :active{
	border: none;
}

.inputs{
	text-align: center;
	border: 2px solid transparent;
	border-bottom-color: #727272;
	width: 10%;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}