
<div class="login-wrapper bg-gradient">

	<!--Login Card-->
	<div class="login-card" ng-show="loginCard">
		<img src="./assets/images/logo.svg" class="login-logo">
		  <md-input-container class="md-block" flex-gt-sm>
            <label >Username</label>
            <input type="text" ng-model="login.username" required="true">
          </md-input-container>
		   <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="login.password" required="true" id="login-password">
          </md-input-container>
		  <button type="button" class="btn-lg btn-block loginButton" ng-click="login()" ng-hide="showProgress">Login</button>
			<div style="text-align: center" ng-show="showProgress">
				<div layout="row" layout-sm="column" layout-align="space-around"  style="">
					<md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
				</div>
			</div>
		<div ng-click="forgotPassword()" style="text-align: center;margin-top: 10px;outline: none;">Forgot Password?</div>
		<div class="login-Or">
				<span class="login-Or-text">
					OR
				</span>
		  </div>
		  <div class="loginFacebookButton" ng-click="facebookLogin()">
			  <i class="fa fa-facebook-square" aria-hidden="true"></i>
				Sign in with Facebook
		  </div>
		  <div class="siguptext" ng-click="signUp()">Sign up for Muffin</div>
	</div>

	<!--Forgot Password-->
	<div class="login-card" ng-show="forgotPasswordCard">
		<div ng-click="backButtonClickedLogin()" style="outline: none;">
			<i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i>
		</div>
		<img src="./assets/images/logo.svg" class="login-logo">
		<div style="font-size: 22px;font-weight: 500;text-align: center;margin-top: 15px;margin-bottom: 25px;">Enter Email</div>
		<md-input-container class="md-block" flex-gt-sm>
			<label >Enter your registered email</label>
			<input type="text" ng-model="email" required="true">
		</md-input-container>

		<button type="button" class="btn-lg btn-block loginButton" ng-click="forgotPasswordClicked()" ng-hide="showProgress">Next</button>
		<div style="text-align: center" ng-show="showProgress">
			<div layout="row" layout-sm="column" layout-align="space-around"  style="">
				<md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
			</div>
		</div>
	</div>

	<!--Login otp-->
	<div class="login-card" ng-show="LoginOtpSend">
		<img src="./assets/images/onb1.svg" class="login-logo" style="height: 60px; width: 60px;">
		<div style="font-size: 16px;font-weight: 300;text-align: center;margin-top: 15px;margin-bottom: 15px;">Your username is {{user.username}}</div>

		<div class="" style="text-align: center;margin-bottom: 25px;">An OTP has been sent to you on your mobile phone</div>

		<md-input-container class="md-block" flex-gt-sm style="margin: auto;width: 50%;">
			<label >Mobile</label>
			<input ng-model="user.mobile" maxlength="10">
		</md-input-container>
		<div class="mobileSubmit" ng-click="changeMobileNumber()" ng-hide="showProgress" style="text-align: center;color: #fc5457;margin: auto;outline: none;">Submit</div>
		<div style="text-align: center" ng-show="showProgress">
			<div layout="row" layout-sm="column" layout-align="space-around"  style="">
				<md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
			</div>
		</div>

		<div class="" style="font-size: 20px;font-weight: 600;text-align: center;margin-top: 15px;">Enter OTP code</div>
		<div style="text-align: center;margin: auto;display: block;margin-bottom: 15px;margin-top: 15px;">
			<input type="text" ng-model="loginOtp.firstChar" class="center inputs" maxlength="1">
			<input type="text" ng-model="loginOtp.secondChar" class="center inputs" maxlength="1">
			<input type="text" ng-model="loginOtp.thirdChar" class="center inputs"  maxlength="1">
			<input type="text" ng-model="loginOtp.fourthChar" class="center inputs" maxlength="1">
		</div>

		<div class="" style="text-align: center;">Didn't receive the OTP?</div>
		<div class="" style="text-align: center;color: #fc5457;">Resend OTP</div>

		<div class="" ng-click="loginVerifyOtpClicked()" style="text-align: center;background-color: #fc5457;color: white;padding: 10px;margin-bottom: 10px;margin-top: 10px;outline: none;">
			VERIFY
		</div>

	</div>


	<div class="login-card" ng-show="LoginSetPinPassword">
		<img src="./assets/images/onb2.svg" class="login-logo" style="height: 60px; width: 60px;margin-bottom: 15px;">

		<md-input-container class="md-block" flex-gt-sm>
			<label >Enter Password</label>
			<input type="text" ng-model="pass.password" required="true">
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label >Reconfirm Password</label>
			<input type="text" ng-model="pass.confirmPassword" required="true">
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label >Enter Pin</label>
			<input type="text" id="pin" ng-model="pass.pin" required="true" maxlength="4">
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label >Reconfirm Pin</label>
			<input type="text" id="confirmPin" ng-model="pass.confirmPin" required="true" maxlength="4">
		</md-input-container>
		<button type="button" class="btn-lg btn-block loginButton" ng-click="changePassword()" ng-hide="showProgress">Next</button>
		<div style="text-align: center" ng-show="showProgress">
			<div layout="row" layout-sm="column" layout-align="space-around"  style="">
				<md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
			</div>
		</div>
	</div>
</div>

<!-- Is Mobile Modal -->
<div class="modal fade isMobileModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<i class="fa fa-times" aria-hidden="true" style="color: gray;float: right;margin-bottom: 15px;outline: none;" ng-click="inviteFriendsCancel()"></i>
			<div style="text-align: center;font-size: 22px;font-weight: 500;margin-bottom: 20px;">Muffin app link</div>

			<div style="text-align: center">
				<a href="https://play.google.com/store/apps/details?id=com.muffin.android">
					https://play.google.com/store/apps/details?id=com.muffin.android
				</a>
			</div>
		</div>
	</div>
</div>

