<div class="signup-wrapper bg-gradient">

    <!--signup step 1 - details-->
    <div class="signup-card" ng-show="signUpStep1">
        <img src="./assets/images/logo.svg" class="signup-logo">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Name</label>
            <input type="text" ng-model="signUp.name" id="alphaonly" required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input type="text" ng-model="signUp.email" required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Username</label>
            <input type="text" ng-model="signUp.username" required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="signUp.password" required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Mobile</label>
            <input ng-model="signUp.phone" required="true" maxlength="10" id="phoneNumber">
        </md-input-container>
        <button type="button" class="btn-lg btn-block signupButton" ng-click="nextToOtpScreen()" ng-hide="showProgress">Next</button>
        <div  ng-click="goToLogin()" style="text-align: center;margin-top: 10px;outline: none;">Already have an account?</div>
        <div style="text-align: center" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>


    <!--signup step 2 - generate otp -->
    <div class="signup-card" ng-show="signUpStep2">
        <img src="./assets/images/onb1.svg" class="signup-logo">
        <div ng-click="backButtonCLicked()" style="outline: none;">
            <i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i>
        </div>
        <div class="signup-step2-heading">Please verify your mobile number</div>

        <div ng-show="!otpSend">
            <div class="signup-step2-subheading"> We will send you an OTP</div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Mobile</label>
                <input ng-model="signUp.phone" maxlength="10">
                <span class="mobileSubmit" ng-click="submitMobile()">Submit</span>
            </md-input-container>
        </div>
        <div ng-show="otpSend">
            <div class="signup-step2-subheading"> OTP has been sent to you </br> on your mobile phone</div>
            <div class="resend-otp" ng-click="signUpApiCall()">Resend OTP</div>
            <div class="mobileNumber">{{signUp.phone }}  <i class="fa fa-pencil" aria-hidden="true" style="color:#fc5457" ng-click="editMobileNumber()"></i></div>
        </div>

        <div class="enter-otp-text">Enter OTP Code</div>
        <div class="" style="text-align: center;margin: auto;display: block;margin-bottom: 25px;margin-top: 25px;">
            <input ng-model="otp.firstChar" maxlength="1" class="center inputs biddingMuffins-digit-box" style="text-align: center">
            <input ng-model="otp.secondChar" maxlength="1" class="center inputs biddingMuffins-digit-box" style="text-align: center">
            <input ng-model="otp.thirdChar" maxlength="1" class="center inputs biddingMuffins-digit-box" style="text-align: center">
            <input ng-model="otp.fourthChar" maxlength="1" class="center inputs biddingMuffins-digit-box" style="text-align: center">
        </div>
        <button type="button" ng-class="otpFilled ? 'btn-lg btn-block signupButton':'btn-lg btn-block unfilledButton'" ng-click="verifyMobile()" ng-hide="showProgress">Verify</button>
        <div style="text-align: center" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around"  style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>

    <!--signup step 3 -set pin -->
    <div class="signup-card" ng-show="signUpStep3">
        <img src="./assets/images/onb2.svg" class="signup-logo" style="height: 60px;width: 60px;">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Username</label>
            <input ng-model="signUp.username" required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Pin</label>
            <input id="pin" ng-model="signUp.pin" required="true" maxlength="4">
        </md-input-container>
        <button type="button" class="btn-lg btn-block signupButton" ng-click="savePin()" ng-hide="showProgress">Save Pin</button>
        <div style="text-align: center" ng-show="showProgress">
            <div layout="row" layout-sm="column" layout-align="space-around"  style="">
                <md-progress-circular md-mode="indeterminate" class="center" ></md-progress-circular>
            </div>
        </div>
    </div>


</div>