.signup-wrapper{
    /*min-height: 100%;*/
    height: 100%;width: 100%;margin: 0;padding: 0;position: fixed;
}

.signup-wrapper .signup-card{
    background-color: #fff;
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.signup-wrapper .signup-logo{
    display:block;
    margin:auto;
    height: 100px;
    width: 100px;
    margin-top: -70px;
    background-color: white;
    border-radius: 50%;
}

.signup-wrapper .signupButton{
    border-radius: 2px;
    background-color: #fc5457;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 8px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: #f5f5f5;
    outline: none;
}

.signup-wrapper .unfilledButton{
    border-radius: 2px;
    background-color: gray;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 8px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: #f5f5f5;
    outline: none;
}

.signup-wrapper .signup-step2-heading{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #212121;
    margin-top: 30px;
}

.signup-wrapper .signup-step2-subheading{
    color: #727272;
    text-align: center;
    margin-bottom: 30px;
}

.signup-wrapper .mobileSubmit{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    float: right;
    color: #fc5457;
    outline: none;
}

.signup-wrapper .resend-otp{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fc5457;
    margin-bottom: 10px;
    outline: none;
}

.signup-wrapper .mobileNumber{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #212121;
    text-align: center;
    margin-bottom: 20px;
    outline: none;
}

.signup-wrapper .enter-otp-text{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #212121;
}

.signup-wrapper .otp-input{
    text-align: center;
}

md-progress-circular svg path { stroke: #FC5457; }

.inputs{
    text-align: center;
    border: 2px solid transparent;
    border-bottom-color: #727272;
    width: 10%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
