<div class="muffin-container">
    <div style="margin-bottom: 150px;">
        <div class="row">
            <!--muffin types-->
            <div class="col-md-4 col-sm-4">
                <div class="muffin-types-container">
                    <div class="muffin-types">
                        <!--Bidding muffins-->
                        <div class="muffin-title" ng-hide="biddingMuffins.length == 0">
                            Bidding on
                        </div>
                        <div ng-repeat="muffin in biddingMuffins">
                            <div ng-class="($index==selectedMuffinIndex && 'bidding_muffins' == selectedMuffinType) ? 'arrow_box' : 'active-muffins-container'" ng-click="muffinClicked('bidding_muffins',$index, muffin.muffin_detail._id)">
                                <div class="row" style="padding: 0;">
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        <div class="active-muffins-name">{{muffin.muffin_detail.name | capitalize}}</div>
                                        <div class="muffin-bidding-month">₹ {{muffin.muffin_detail.chitValue}}</div>
                                        <div class="muffin-bidding-month">Month: {{muffin.muffin_detail.currentBidding}}/{{muffin.muffin_detail.members}}</div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <span>&nbsp;</span>
                                        <div class="muffin-bidding-time" id="bidding-time">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Invited muffins-->
                        <div class="muffin-title" ng-hide="invitedMuffins.length == 0">
                            Invited Muffins
                        </div>
                        <div ng-repeat="muffin in invitedMuffins">
                            <div ng-class="($index==selectedMuffinIndex && 'invited_muffins' == selectedMuffinType) ? 'arrow_box' : 'active-muffins-container'" ng-click="muffinClicked('invited_muffins',$index, muffin.muffin_detail._id)">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="active-muffins-name">{{muffin.muffin_detail.name | capitalize}}</div>
                                        <div class="inprocess-nuffins-price">₹ {{muffin.muffin_detail.chitValue}}</div>
                                        <div class="invited-muffin-text">Group created by:</div>
                                        <span class="invited-muffin-text">By **Foreman** </span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="inprocess-muffin-instalment">Instalment: ₹ {{muffin.muffin_detail.chitValue/muffin.muffin_detail.members}}</div><br>
                                        <div class="inprocess-muffin-instalment">Duration:{{muffin.muffin_detail.members}} Monthssasdbcsbbb</div>
                                        <hr style="background-color: #b6b6b6; height: 1px; border: 0;margin-top: 50px;">
                                        <div class="invited-muffin-btn">
                                            <span ng-click="acceptDeclineInvitedMuffin('declined', muffin.muffin_detail._id)" style="margin-right: 10px;outline: none">DECLINE</span>
                                            <span ng-click="acceptDeclineInvitedMuffin('subscribed', muffin.muffin_detail._id)" style="outline: none;">ACCEPT</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Active muffins-->
                        <div class="muffin-title" ng-hide="activeMuffins.length == 0">
                            Active Muffins
                        </div>
                        <div ng-repeat="muffin in activeMuffins">
                            <div ng-class="($index==selectedMuffinIndex && 'active_muffins' == selectedMuffinType) ? 'arrow_box' : 'active-muffins-container'" ng-click="muffinClicked('active_muffins',$index, muffin.muffin_detail._id)">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="active-muffins-name">{{muffin.muffin_detail.name | capitalize}}</div>
                                        <div class="active-muffins-price">₹ {{muffin.muffin_detail.chitValue}}</div>
                                        <div class="active-muffins-month">Month:{{muffin.muffin_detail.currentBidding}}/{{muffin.muffin_detail.members}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="active-muffins-days" style="font-size: 18px">Bidding Day  {{muffin.muffin_detail.name | capitalize}}</div>
                                          <div style="text-align: right;font-size: 22px">{{muffins[2].muffin_details[0].auctions[1].auctionDate | date :"MMM d, y"}}</div>
                                          <div style="text-align: right;font-size: 22px">{{muffins[2].muffin_details[0].auctions[1].bids[0].time | date :"h:mm a"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--In-process Muffins-->
                        <div class="muffin-title" ng-hide="inProgressMuffins.length == 0">
                            In-progress Muffins
                        </div>
                        <div ng-repeat="muffin in inProgressMuffins">
                            <div ng-class="($index==selectedMuffinIndex && 'in_progress_muffins' == selectedMuffinType) ? 'arrow_box' : 'active-muffins-container'" ng-click="muffinClicked('in_progress_muffins', $index, muffin.muffin_detail._id)">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="active-muffins-name">{{muffin.muffin_detail.name | capitalize}}</div>
                                        <div class="inprocess-nuffins-price" style="display: inline-block;font-size: 20px;">₹ {{muffin.muffin_detail.chitValue}}</div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="inprocess-muffin-instalment">Instalment: ₹ {{muffin.muffin_detail.chitValue/muffin.muffin_detail.members}}</div><br>
                                        <div class="inprocess-muffin-instalment">Duration:{{muffin.muffin_detail.members}} Months</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--muffin-details-->
            <div class="col-md-7 col-sm-7">
                <div class="muffin-title">
                    &nbsp;
                </div>
                <div class="muffins-details-container">

                    <!--Bidding muffin-->
                    <div ng-if="selectedMuffinType === 'bidding_muffins'" class="active-muffin">
                        <div class="muffins-details">
                            <div style="font-family: Roboto;font-size: 24px;text-align: center;color: #5133a5;">₹ {{biddingMuffins[selectedMuffinIndex].muffin_detail.chitValue}}</div>
                            <div style="font-family: Roboto;font-size: 16px;text-align: center;color: #727272;">Instalment: ₹ {{biddingMuffins[selectedMuffinIndex].muffin_detail.chitValue/biddingMuffins[selectedMuffinIndex].muffin_detail.members}}</div>
                            <div style="font-family: Roboto;font-size: 16px;text-align: center;color: #727272;">Month: {{biddingMuffins[selectedMuffinIndex].muffin_detail.currentBidding}}/{{biddingMuffins[selectedMuffinIndex].muffin_detail.members}} Months</div>
                            <div class="" style="text-align: center;margin: 25px 55px 25px 55px;">

                                <input id="bidValue" ng-model="bidding.value" maxlength="5000" class="center bidding-input" placeholder="Enter your Bid">

                            </div>
                            <div class="biddingMuffins-inst">Enter your bidding amount in multiple of ₹ 100</div>
                            <div class="" style="text-align: center;margin-top: 10px;">
                                <i ng-show="!biddingMuffinSubmitBtn" class="fa fa-check biddingMuffins-tick" aria-hidden="true" ng-click="biddingMuffinTickClicked()"></i>
                                <div ng-show="biddingMuffinSubmitBtn" class="biddingMuffins-tick-btn" ng-click="submitBid(biddingMuffins[selectedMuffinIndex].muffin_detail.chitValue)">SUBMIT BID</div>
                            </div>
                        </div>
                        <!--Muffin Members-->
                        <div class="muffins-details-members" style="z-index: 1;" ng-hide="showMembersProgress">
                            <div class="" ng-repeat="user in biddingMuffinBids">
                                <div class="muffins-details-members-wrapper">
                                    <div class="muffins-details-member-name">
                                        <div ng-if="$index == 0">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <img class="img-circle" ng-src="{{user.img}}" err-src="https://s3-ap-southeast-1.amazonaws.com/muffdata/Man-Image.png" style="height: 40px;width: 40px;">
                                                </div>
                                                <div class="col-md-7 col-sm-7">
                                                    {{user.user_id.name | capitalize}}
                                                    <div style="font-size: 12px;">Leading bidder</div>
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <span style="float: right;color: #5133a5;"> ₹ {{user.bid}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="$index != 0">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <img class="img-circle" ng-src="{{user.img}}" err-src="https://s3-ap-southeast-1.amazonaws.com/muffdata/Man-Image.png" style="height: 40px;width: 40px;">
                                                </div>
                                                <div class="col-md-7 col-sm-7">
                                                    {{user.user_id.name | capitalize}}
                                                </div>
                                                <div class="col-md-3 col-sm-3">
                                                    <span style="float: right;color: #5133a5;"> ₹ {{user.bid}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center; margin-top: 25%" ng-show="showMembersProgress">
                            <div layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                            </div>
                        </div>
                    </div>

                    <!--Active muffin-->
                    <div ng-if="selectedMuffinType === 'active_muffins'" class="active-muffin">
                        <div class="muffins-details">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="active-muffins-name">{{muffinDetails.muffinDetails.name | capitalize}}</div>
                                    <div style="font-family: Roboto;color: #5133a5;">₹ {{muffinDetails.muffinDetails.chitValue}}</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6" style="float: right">
                                    <div id="agreement" ng-if="agreementUrl.length > 0">
                                        <a href="{{agreementUrl}}" download class="agreement-text">AGREEMENT</a>
                                    </div>
                                    <div class="inprocess-muffin-instalment">Instalment: ₹ {{muffinDetails.muffinDetails.chitValue/muffinDetails.muffinDetails.members}}</div><br><br>
                                   <br><div class="inprocess-muffin-instalment">Duration:{{muffinDetails.muffinDetails.members}} Months</div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 15px;">
                                <div class="col-md-4">
                                    <div style="margin-top: 10px;margin-bottom: 10px;">
                                        <span style="font-family: Roboto;font-size: 14px;color: #727272;">Current Auction({{muffinDetails.muffinDetails.currentBidding}}/{{muffinDetails.muffinDetails.frequency}})</span>
                                        <div style=" font-family: Roboto;font-size: 18px;color: #212121;">{{muffins[2].muffin_details[0].auctions[0].auctionDate | date :"MMM d, y"}}</div>
                                        <span style=" font-family: Roboto;font-size: 14px;color: #727272;">Instalment: ₹ {{muffins[2].muffin_details[0].auctions[0].highestBid.bid/muffinDetails.muffinDetails.members+0.05*muffinDetails.muffinDetails.chitValue/muffinDetails.muffinDetails.members}} </span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div style="border-left: 1px solid #dddddd;height:100px;"></div>
                                </div>
                                <div class="col-md-7">
                                    <div style="margin-top: 10px;margin-bottom: 10px;">
                                        <span style="font-family: Roboto;font-size: 18px;text-align: left;color: #212121;">{{muffins[2].muffin_details[0].auctions[0].highestBid.user_id.name | capitalize}}</span>
                                        <div style="font-family: Roboto;font-size: 14px;color: #727272;">Prize Amount</div>
                                        <span style=" font-family: Roboto;font-size: 18px;text-align: right;color: #5133a5;">₹ {{muffins[2].muffin_details[0].auctions[0].highestBid.bid}} </span>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 0;">
                            <div class="row" style="">
                                <div class="col-md-4">
                                    <div style="margin-top: 10px;margin-bottom: 10px;">
                                        <span style="font-family: Roboto;font-size: 14px;color: #727272;">Next Auction ({{muffinDetails.muffinDetails.currentBidding+1}}/{{muffinDetails.muffinDetails.members}})</span>
                                        <div style=" font-family: Roboto;font-size: 18px;color: #212121;">{{muffins[2].muffin_details[0].auctions[muffin.muffin_detail.currentBidding+1].auctionDate | date :"MMM d, y"}}</div>
                                        <span style=" font-family: Roboto;font-size: 14px;color: #727272;">Instalment: ₹ - </span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div style="border-left: 1px solid #dddddd;height:100px;"></div>
                                </div>
                                <div class="col-md-7">
                                   <!-- <div >Remind me:</div>
                                        <div class="menu-bar" style="padding: 0;margin: 0">
                                            <ul class="list-inline text-center" layout="row" >
                                                <li flex style="background-color: white; color: #212121;text-align: left;font-size: 14px;padding: 0px"><span style="">1 day before auction</span></li>
                                                <li flex style="background-color: white; color: #212121;text-align: left;font-size: 14px;padding: 0px">
                                                    <div class="toggles" style="">
                                                        <input type="checkbox" ng-change="toggleDayNotification()" name="checkbox1" id="checkbox1" class="ios-toggle checkbox" ng-model="dayNotification"/>
                                                        <label for="checkbox1" class="checkbox-label" data-off="off" data-on="on"></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu-bar" style="padding: 0;margin-top: 20px;">
                                            <ul class="list-inline text-center" layout="row">
                                                <li flex style="background-color: white; color: #212121;text-align: left;font-size: 14px;padding: 0px"><span style="">2 hours before auction</span></li>
                                                <li flex style="background-color: white; color: #212121;text-align: left;font-size: 14px;padding: 0px">
                                                    <div class="toggles" style="">
                                                        <input type="checkbox" ng-change="toggleHourNotification()" name="checkbox2" id="checkbox2" class="ios-toggle checkbox" ng-model="hourNotification"/>
                                                        <label for="checkbox2" class="checkbox-label" data-off="off" data-on="on"></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="muffins-details-members" style="z-index: 1;" ng-hide="showMembersProgress">
                            <div class="" ng-repeat="user in muffinMembers">
                                <div class="muffins-details-members-wrapper">
                                    <div class="muffins-details-member-name">
                                        <img class="img-circle" ng-src="{{user.img}}" err-src="https://s3-ap-southeast-1.amazonaws.com/muffdata/Man-Image.png" style="height: 40px;width: 40px;display: inline-block;margin-right: 20px;">
                                        <div style="display: inline-block;">{{user.userId.name | capitalize}}
                                            <div style="font-size: 12px;">{{user.type}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center; margin-top: 25%" ng-show="showMembersProgress">
                            <div layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                            </div>
                        </div>
                    </div>

                    <!--In Progress muffin-->
                    <div ng-if="selectedMuffinType === 'in_progress_muffins'" class="active-muffin">
                        <div class="muffins-details" ng-hide="showInprocessProgress" style="padding: 20px;box-shadow: 0px 4px 20px #888888;z-index: 12;position: relative">
                            <div>
                                <span class="active-muffins-name">{{muffinDetails.muffinDetails.name | capitalize}}</span>
                                <span class="inprocess-muffin-instalment">Instalment: ₹ {{muffinDetails.muffinDetails.chitValue/muffinDetails.muffinDetails.members}}</span><br>
                            </div>
                            <div>
                                <span style="font-family: Roboto;color: #5133a5;">₹ {{muffinDetails.muffinDetails.chitValue}}</span>
                                <span class="inprocess-muffin-instalment">Duration:{{muffinDetails.muffinDetails.members}} Months</span>
                            </div>
                            <!--Step 1-->
                            <!--<div class="" ng-if="">-->
                            <!--<div style="width: 100%; border: solid 1px #dddddd;margin-bottom: 15px;margin-top: 15px;"></div>-->
                            <!--<div class="" style="color: #727272;">Pending Actions (Step 1/3)</div>-->
                            <!--<div class="" style="opacity: 0.87;font-family: Roboto;font-size: 20px;color: #212121;">Respond to invitation</div>-->
                            <!--<div style="display: inline-block;opacity: 0.87;font-family: Roboto;font-size: 14px;color: #727272;">Invited to this group by {{muffinDetails.muffinDetails.createdByObject.name}}</div>-->
                            <!--<div style="color: #fc5457;display: inline-block; float: right;font-weight: 600">-->
                            <!--<span ng-click="">DECLINE</span>-->
                            <!--<span ng-click="" style="margin-left: 10px">ACCEPT</span>-->
                            <!--</div>-->
                            <!--</div>-->

                            <!--kycDone : {{muffinDetails.user.kycDone}}-->
                            <!--creditAssessmentDone : {{muffinDetails.user.creditAssessmentDone}}-->
                            <!--IsMuffinAgreementSigned : {{muffinDetails.muffinDetails.IsMuffinAgreementSigned}}-->
                            <!--Step 2-->
                            <div ng-if="!(muffinDetails.user.kycDone && muffinDetails.user.creditAssessmentDone)">
                                <div class="in-progress-line"></div>
                                <div class="" style="color: #727272;">Pending Actions (Step 2/3)</div>
                                <div class="" style="opacity: 0.87;font-family: Roboto;font-size: 20px;color: #212121;">KYC and Credit Assessment</div>
                                <div class="" style="font-family: Roboto;font-size: 14px;color: #727272;">
                                    This step is required for the 1st Muffin only<br> Complete this task by scheduling a meeting<br><br> Documents needed<br> - Aadhaar Card<br> - PAN Card
                                </div>
                                <div style="  color: #727272;font-family: Roboto;font-size: 14px;margin-top: 10px;">
                                    Meeting Scheduled On<br/> {{muffinDetails.muffinDetails.MeetingDate}}
                                </div>

                                <div class="inprogress-details-btn" ng-click="scheduleClicked($event, muffinDetails.muffinDetails._id)" ng-hide="showScheduleProgress">RESCHEDULE</div>
                                <div style="text-align: center; margin-top: 25%" ng-show="showScheduleProgress">
                                    <div layout="row" layout-sm="column" layout-align="space-around">
                                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                                    </div>
                                </div>
                            </div>

                            <!--Step 3-->
                            <div ng-if="!(muffinDetails.user.kycDone && muffinDetails.muffinDetails.IsMuffinAgreementSigned)">
                                <div class="in-progress-line"></div>
                                <div class="" style="color: #727272;">Pending Actions (Step 3/3)</div>
                                <div class="" style="opacity: 0.87;font-family: Roboto;font-size: 20px;color: #212121;">Sign Muffin Agreement</div>
                                <div class="" style="font-family: Roboto;font-size: 14px;color: #727272;">
                                    Meeting scheduled on {{muffinDetails.muffinDetails.MeetingDate}}
                                    <br> All agreements are filed and vetted at <br> the regulator’s office, Govt. of NCT of Delhi
                                </div>
                                <div class="inprogress-details-btn" ng-click="scheduleClicked($event, muffinDetails.muffinDetails._id)" ng-hide="showScheduleProgress">RESCHEDULE</div>
                                <div style="text-align: center; margin-top: 25%" ng-show="showScheduleProgress">
                                    <div layout="row" layout-sm="column" layout-align="space-around">
                                        <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                                    </div>
                                </div>
                            </div>

                            <!--Subscription complete-->
                            <div ng-if="muffinDetails.muffinDetails.IsMuffinAgreementSigned">
                                <div class="in-progress-line"></div>
                                <div class="" style="color: #727272;">Pending Actions</div>
                                <div class="" style="opacity: 0.87;font-family: Roboto;font-size: 20px;color: #212121;">Subscription complete!</div>
                            </div>

                            <!--Invite friends-->
                            <div class="" ng-if="muffinDetails.muffinDetails.VerifiedMembers < muffinDetails.muffinDetails.members">
                                <div class="in-progress-line"></div>
                                <div class="" style="color: #727272;">Group Status</div>
                                <div class="" style="opacity: 0.87;font-family: Roboto;font-size: 20px;color: #212121;">Open for subscription</div>
                                <div style="display: inline-block; opacity: 0.87;font-family: Roboto;font-size: 14px;color: #727272;">Starting in about 30 days</div>
                                <div style="color: #fc5457;display: inline-block; float: right;font-weight: 600">
                                    <span class="inprogress-details-btn" ng-click="inviteFriends(muffinDetails.muffinDetails.regNumber)">INVITE FRIENDS</span>
                                </div>
                            </div>

                            <!--Invite friends closed-->
                            <!--<div class="" ng-if="muffinDetails.muffinDetails.VerifiedMembers === muffinDetails.muffinDetails.members">-->
                            <!--<div style="width: 100%; border: solid 1px #dddddd;margin-bottom: 15px;margin-top: 15px;"></div>-->
                            <!--<div class="" style="color: #727272;">Group Status</div>-->
                            <!--<div class="" style="opacity: 0.87;font-family: Roboto;font-size: 20px;color: #212121;">Starting in about 10 days</div>-->
                            <!--<div style="display: inline-block; opacity: 0.87;font-family: Roboto;font-size: 14px;color: #727272;">-->
                            <!--Group completed, closed for subscription</div>-->
                            <!--</div>-->

                        </div>
                        <div style="text-align: center; margin-top: 25%" ng-show="showInprocessProgress">
                            <div layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                            </div>
                        </div>

                        <!--Muffin Members-->
                        <div class="muffins-details-members" style="z-index: 1;" ng-hide="showMembersProgress">
                            <div class="" ng-repeat="user in muffinMembers">
                                <div class="muffins-details-members-wrapper">
                                    <div class="muffins-details-member-name">
                                        <img class="img-circle" ng-src="{{user.img}}" err-src="https://s3-ap-southeast-1.amazonaws.com/muffdata/Man-Image.png" style="height: 40px;width: 40px;display: inline-block;margin-right: 20px;">
                                        <div style="display: inline-block;">{{user.userId.name | capitalize}}
                                            <div style="font-size: 12px;">{{user.type}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center; margin-top: 25%" ng-show="showMembersProgress">
                            <div layout="row" layout-sm="column" layout-align="space-around">
                                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--fab icon-->
            <div class="col-md-1 col-sm-1">
                <div class="" style="position: fixed; bottom: 5%">

                    <div ng-click="showMuffinModal('join')" style="background-color: white;display: table;width: 50px; height: 50px; border-radius: 999px;outline: none;">
                        <i class="fa fa-plus" aria-hidden="true" style="color: #FF3842; font-size: 22px;display: table-cell;vertical-align: middle;text-align: center;"></i>
                    </div>

                    <!--add fab icon-->
                    <!--<div class="lock-size">-->
                    <!--<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode">-->
                    <!--<md-fab-trigger>-->
                    <!--<md-button aria-label="menu" class="md-fab md-warn" style="background-color: white">-->
                    <!--<md-icon md-svg-src="./assets/images/gift.svg"></md-icon>-->
                    <!--</md-button>-->
                    <!--</md-fab-trigger>-->
                    <!--<md-fab-actions>-->
                    <!--<md-button aria-label="Add a muffin" class="md-fab md-raised md-mini" ng-click="addMuffinDialog()" style="background-color: #fc5457">-->
                    <!--<md-icon aria-label="Add a muffin" md-svg-src="./assets/images/add.svg"></md-icon>-->
                    <!--<md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">-->
                    <!--<div class="fab-title">Add a muffin</div>-->
                    <!--</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="Join a muffin" class="md-fab md-raised md-mini" ng-click="joinMuffinDialog()" style="background-color: #fc5457">-->
                    <!--<md-icon aria-label="Join a muffin" md-svg-src="./assets/images/join.svg"></md-icon>-->
                    <!--<md-tooltip md-direction="left"  md-visible="demo.tooltipVisible" md-autohide="false">-->
                    <!--<div class="fab-title">Join a muffin</div>-->
                    <!--</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="Invite a muffin" class="md-fab md-raised md-mini" ng-click="inviteCodeDialog()" style="background-color: #fc5457">-->
                    <!--<md-icon aria-label="Invite a muffin" md-svg-src="./assets/images/invite.svg"></md-icon>-->
                    <!--<md-tooltip md-direction="left"  md-visible="demo.tooltipVisible" md-autohide="false">-->
                    <!--<div class="fab-title">Invite a muffin</div>-->
                    <!--</md-tooltip>-->
                    <!--</md-button>-->
                    <!--</md-fab-actions>-->
                    <!--</md-fab-speed-dial>-->
                    <!--</div>-->
                    <!--end fab icon-->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Invite Friends Modal -->
<div class="modal fade inviteFriendsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="fa fa-times" aria-hidden="true" style="color: gray;float: right;margin-bottom: 15px;outline: none;" ng-click="inviteFriendsCancel()"></i>
            <div style="text-align: center;font-size: 22px;font-weight: 500;">Muffin invite code</div>

            <div style="padding: 20px;text-align: center;">
                <div style="margin-bottom: 15px;">Select the code below for the muffin you want to join!</div>
                <div style="font-size: 22px; font-weight: 600;color: #5133a5">{{regNumber}}</div>
            </div>
        </div>
    </div>
</div>
