/*muffins*/

.muffin-container{
    max-height:100%;
    margin: 0px 25px 100px 25px;
    padding: 30px 50px;
}

.muffin-types-container{
    /*height: 100%;*/
    /*position: fixed;*/
}

.muffin-types{
    /*overflow-y: scroll;height: 90%;padding-bottom: 100px;*/
}

.muffin-title{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #f5f5f5;
    margin-bottom: 10px;
    margin-top: 35px;
}

.active-muffins-container{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 1px;
}
.active-muffins-container-selected{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 1px;
}

.active-muffins-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: left;
    color: #212121;
}

.muffin-bidding-month{
    font-family: 'Roboto', sans-serif;font-size: 14px;text-align: left;color: #727272;
}

.muffin-bidding-time{
    font-size: 30px;
    font-weight: 300;
    text-align: right;
    color: #212121;
}

.active-muffins-days{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    color: #212121;
    margin-top: 15px;
}

.active-muffins-price{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #727272;
    margin-top: 10px;
}

.active-muffins-month{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #727272;
}

.inprocess-nuffins-price{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #5133a5;
}

.inprocess-muffin-instalment{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    color: #727272;
    float: right;
}

.invited-muffin-text{
    font-size: 12px;color: #727272; font-family: 'Roboto', sans-serif;
}

.invited-muffin-btn{
    color: #fc5457;font-weight: 600;font-size: 12px;text-align: right;
}

.img-circle {
    border-radius: 50%;
}

.muffins-details{
    background-color: #ffffff;
    -webkit-box-shadow: 0 6px 4px -4px black;
    -moz-box-shadow: 0 6px 4px -4px black;
    padding: 20px;box-shadow: 0px 4px 20px #888888;border-radius: 0px 0px 0px 0px;z-index: 12;position: relative
}

.muffins-details-members{
    background-color: #eaeaea;
    z-index: 1;
    padding: 15px 25px 15px 25px;
}

.muffins-details-member-name{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #212121;
    margin: 15px;
}

.muffins-details-container{
    /*background-color: #ffffff;*/
    padding-left: 20px;
}

.rounded-container{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;
    border-radius: 5px;margin-bottom: 2px;
}

.biddingMuffins-digit-box{
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 0.75;
    text-align: center;
}

.biddingMuffins-inst{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;
    color: #727272;
}

.muffins-details md-input-container .md-input{
    padding: 10px;
}

.biddingMuffins-tick {
    background-color: #fc5457;box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 6px 0 rgba(0, 0, 0, 0.26);
    color: white;font-size: 20px;
    font-weight: 300;
    border-radius: 50%;
    padding: 15px;
    outline: none;
}

.biddingMuffins-tick-btn{
    background-color: #fc5457;box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 6px 0 rgba(0, 0, 0, 0.26);
    color: white;font-size: 20px;
    font-weight: 300;
    padding: 10px;
    width: 40%;
    display: block;
    margin: auto;
    outline: none;
}

.arrow_box {
    position: relative;
    background-color: rgba(255, 255, 255, 255);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 1px;
    outline: none;
}

.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    outline: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: rgba(255, 255, 255, 0.85);
    border-width: 20px;
    margin-top: -20px;
    transition: 0.3s;
    outline: none;
}

.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: rgba(255, 255, 255, 0.85);
    border-width: 16px;
    margin-top: -16px;
    transition: 0.3s;
    outline: none;
}

.inline{
    display: inline-block;
}

/*.md-dialog{*/
    /*opacity: 1;*/
/*}*/

#agreement{
    margin-bottom: 10px;
    padding: 0px;
    float: right;
}

.agreement-text{
    padding: 7px 30px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    text-align: center;
}

#agreement a:hover{
    text-decoration: none;
}

.bid-inputs{
    text-align: center;
    border: none;
    border-bottom: #727272 2px solid;
    border-radius: 0;
    width: 10%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.inprogress-details-btn{
    font-family: 'Roboto', sans-serif;font-weight: 600;font-size: 16px;text-align: right;color: #fc5457;
    outline: none;
}

.bidding-input{
    background-color: #ffffff;
    box-shadow: 0px 2px 2px lightgray; border:none; outline:none;padding: 10px; text-align: center; font-size: 22px; font-weight: 500;
}

.in-progress-line{
    width: 100%; border-bottom: solid 1px #dddddd;margin-bottom: 15px;margin-top: 15px;
}

.fab-title{
    font-size: 16px;margin: 5px;
}

.md-dialog-container{
    overflow: visible;
}

md-dialog{
    position: fixed;
    top: 250px;
}

md-dialog.mdp-datepicker{
    top:250px;
}

md-dialog-content .mdp-timepicker-time{
    top: 0px;
}

md-dialog .mdp-timepicker-time
{
    top:0px;
}

.muffinSelectedTab{
    border-bottom: thick solid #fc5457;
    color: #fc5457;
    border-bottom-width: 2px;
    outline: none;
    padding-bottom: 10px;
}

.muffinNotSelectedTab{
    border-bottom: thin solid lightgray;
    color: gray;
    border-bottom-width: 2px;
    outline: none;
    padding-bottom: 10px;
}

.toggles{
    width:60px;
    height: 20px;
    margin: auto;
    text-align:center;
}

.ios-toggle,.ios-toggle:active{
    position:absolute;
    top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;
}
.checkbox-label{
    display:block;
    position:relative;
    padding:10px;
    /*margin-bottom:20px;*/
    font-size:12px;
    line-height:10px;
    width:100%;
    height:26px;
    /*border-radius*/
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
    background:#f8f8f8;
    cursor:pointer;
}
.checkbox-label:before{
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    line-height:24px;
    text-indent:40px;
    height:26px;
    width:26px;
    /*border-radius*/
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    top:0px;
    left:0px;
    right:auto;
    background:white;
    /*box-shadow*/
    -webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
    content:attr(data-off);
    display:block;
    position:absolute;
    z-index:0;
    top:0;
    left:-300px;
    padding:10px;
    height:100%;
    width:300px;
    text-align:right;
    color:#bfbfbf;
    white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px rgba(252,84,87 ,1),0 0 0 2px rgba(252,84,87 ,1);
    -moz-box-shadow:inset 0 0 0 20px rgba(252,84,87 ,1),0 0 0 2px rgba(252,84,87 ,1);
    box-shadow:inset 0 0 0 20px rgba(252,84,87 ,1),0 0 0 2px rgba(252,84,87 ,1);
}
.ios-toggle:checked + .checkbox-label:before{
    left:calc(100% - 26px);
    /*box-shadow*/
    -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
    content:attr(data-on);
    left:60px;
    width:26px;
}