.contactUs-container{
    max-height:100%;
    margin-bottom: 100px;
    padding: 35px;
}

.contactUs-box{
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    width: 50%;
    margin: auto;
}

.contactUs-logo{
    display:block;
    margin:auto;
    height: 100px;
    width: 100px;
}

.contactUs-button{
    background-color: #fc5457;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    width: 50%;
    outline: none;
}