<div class="contactUs-container">
    <div class="contactUs-box">
        <img src="./assets/images/logo.svg" class="contactUs-logo">
        <md-input-container class="md-block" flex-gt-sm>
            <label >Topic</label>
            <input ng-model="contactUs.topic" required="true">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Comment</label>
            <input ng-model="contactUs.message" required="true">
        </md-input-container>
        <button type="button" class="btn-lg btn-block contactUs-button" ng-click="sendMessage()" ng-hide="showContactUsProgress">SUBMIT</button>
        <div style="text-align: center" ng-show="showContactUsProgress">
            <div layout="row" layout-sm="column" layout-align="space-around"  style="">
                <md-progress-circular md-mode="indeterminate" class="center"></md-progress-circular>
            </div>
        </div>
    </div>
</div>